.chart {
    margin: 10px;
    min-width: 100px;
    min-height: 100px;
    /*
      Minimum height and width is a good idea to prevent negative SVG dimensions...
      For example width should be =< margin.left + margin.right + 1,
      of course 1 pixel for the entire chart would not be very useful, BUT should not have errors
    */
}

/* default to extra small */
.chart svg {
    height : 300px;
}

@media(max-width:767px){}
@media(min-width:768px){}
@media(min-width:992px){
    .chart svg {
        height : 500px;
    }
}
@media(min-width:1200px){
    .chart svg {
        height : 600px;
    }
}





/* For disabling yAxis when no data selected in post chart */
.nvd3.multiChart .axis .nv-axis line {
    stroke: none;
    fill: none;
}


/* for Algolia */
td.vcenter{
    vertical-align: middle !important;
}

/* TODO - fix search width hack (algolia)
   This is a hack (not sure how to fix it properly.
   The title url in algolia results is forcing the table to be larger than the encompassing modal.
   Note - the hack works pretty well except for very small windows. (below 450px)
 */
.title_url_width {
    max-width: 250px;
}
@media(min-width:767px){
    .title_url_width {
        max-width: 350px;
    }
}
@media(min-width:992px){
    .title_url_width {
        max-width: 650px;
    }
}

