<!-- This is a hack to initialize the controller. I couldn't find a better way. -->
<script>
    var POST_ID='7873540';  // **** SET THIS TO THE PROPER POST ID ****

    if (window.location.search !== '?postIds='+POST_ID) {
        window.location.search = '?postIds='+POST_ID;
    }
</script>


<hr>

<div ng-controller="multiPostCtrl">
    <h1>A Quick Introduction</h1>
    <ul>
        <li>Check out the <a href="/about">About page</a> to learn more about the project.</li>
        <li>Read about the history of this project on <a href="http://rossrosen.me/devblog/2014/07/23/Hind-Cite.html">our blog post</a>.
        </li>
        <li>Contribute: <a href="https://github.com/rr326/hind-cite">github repo</a></li>
        <li>What does this do? See the Example below or click the 'Post History' image above.</li>
    </ul>


    <div class="row">
        <div class="col-md-10 col-md-offset-1">
            <h2><b>Example:</b> &nbsp; Show HN: hind-cite.com</h2>

            <div class="panel panel-default " id="chartControls">
                <div class="panel-heading">
                    <h3 class="panel-title">
                        <div>Chart Controls</div>
                    </h3>
                </div>
                <div class="panel-body]">
                    <form class="form-inline" role="form">
                        <div class="form-group">
                            <label>&nbsp; Metric: &nbsp;</label>
                            <!-- TODO - Shouldn't need nbsp, and vert alignment is wrong-->
                            <label class="radio-inline">
                                <input type="radio" value="rank" ng-model="d.metric"> Rank
                            </label>
                            <label class="radio-inline">
                                <input type="radio" value="points" ng-model="d.metric"> Points
                            </label>
                            <label class="radio-inline">
                                <input type="radio" value="comments" ng-model="d.metric"> Comments
                            </label>
                        </div>
                        <div class="form-group" ng-show="d.metric == 'rank'">
                            <label>&nbsp;&nbsp; Rank Range: &nbsp;</label>
                            <label class="radio-inline">
                                <input type="radio" value="30" ng-model="d.rankRange"> 1-30
                            </label>
                            <label class="radio-inline">
                                <input type="radio" value="60" ng-model="d.rankRange"> 1-60
                            </label>
                        </div>
                    </form>
                </div>

            </div>

            <br>


            <h3>{{ d.metric | titleCase}}</h3>
            <multi-post-chart id="postsChart" chartsize="medChartSize" data="d.data" datatimestamp="d.dataTs"
                              metric="d.metric" rankRange="d.rankRange"
                              needsUpdate="d.chartNeedsUpdate"></multi-post-chart>

            <div class="small">
                <span>URL for this data: <a href="{{ d.CloudantUrl }}" target="_blank">{{ d.CloudantUrl
                    }}</a></span><br>
                <span ng-show="d.CloudantPayload">Payload for POST for this data: {{ d.CloudantPayload }} <br></span>
                <span><i>See development console for the $.ajax() call used.</i></span>
            </div>
        </div>

    </div>

</div>
