<div ng-controller="multiPostCtrl">


    <div class="panel panel-default ">
        <div class="panel-heading">
            <h3 class="panel-title">
                <div>Add Posts</div>
            </h3>
        </div>
        <div class="panel-body]">
           <form class="form-inline" role="form">
                <label>&nbsp; By Id &nbsp;</label>

                <div class="form-group">
                    <input id="postIds" type="text" class="form-control" placeholder="id1, id2, ..."
                           ng-model="d.postIdsText">
                </div>
                &nbsp; OR &nbsp;
                <button class="btn btn-primary btn-sm" data-toggle="modal" data-target="#hnsearchModal">
                    By Search
                </button>
                &nbsp; OR &nbsp;
                <select class="form-control" ng-model="d.addByDropdown">
                    <option value="deselected" disabled selected>By List</option>
                    <option value="10" >Current Top 10</option>
                    <option value="20" >Current Top 20</option>
                    <option value="30" >Current Top 30</option>
                </select>
            </form>
        </div>

    </div>

    <p>Post ids: {{ d.postIds }}</p>
    <p>CleanList: {{ d.cleanList }}</p>
    <h1>Post Comparison</h1>


    <table class="table table-striped table-bordered table-condensed">
        <thead>
            <tr>
                <th> ID <button class="btn btn-danger btn-xs" ng-click="clearAllIds()">Clear all</button> </th>
                <th> Title </th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat=" (key, rec) in dataOnly()">
                <td>{{ rec.id }} &nbsp; <span class="glyphicon glyphicon-minus-sign small text-danger" ng-click="removePostId(rec.id)"></span>
                <td><a href="{{ rec.href }}" target="_blank" >{{ rec.title }} </a></td>
            </tr>

        </tbody>
    </table>


    <br>

    <h1>{{ d.metric | titleCase}}</h1>
    <multi-post-chart id="chart1" chartsize="medChartSize" data="d.data" datatimestamp="d.data.timestamp" metric="d.metric"></multi-post-chart>


    <div ng-controller="hnsearchCtrl">

        <div id='hnsearchModal' class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
            <!-- This partial works with the selectModal directive -->

            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="btn btn-primary closeButton pull-right" data-dismiss="modal">Done</button>
                        <h1 class='modal-title'>Search Hacker News</h1>


                    </div>
                    <div class="modal-body">
                        <ng-include src="'views/templates/hnsearch_searchbox.html'"></ng-include>
                        <ng-include src="'views/templates/hnsearch_hit_template.html'"></ng-include>

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary closeButton" data-dismiss="modal">Done</button>
                    </div>
                </div>
            </div>
        </div>


    <!--</div>-->

</div>