<div ng-controller="multiPostCtrl">


    <div class="panel panel-default ">
        <div class="panel-heading">
            <h3 class="panel-title">
                <div>Add Posts</div>
            </h3>
        </div>
        <div class="panel-body]">
           <form class="form-inline" role="form">
                <label>&nbsp; By Id &nbsp;</label>

                <div class="form-group">
                    <input id="postIds" type="text" class="form-control" placeholder="id1, id2, ..."
                           ng-model="d.postIdsText">
                    <button ng-click="submitPostIdsText()" class="btn btn-success btn-xs">Add</button>
                </div>
                &nbsp; OR &nbsp;
                <button class="btn btn-primary btn-sm" data-toggle="modal" data-target="#hnsearchModal">
                    By Search
                </button>
                &nbsp; OR &nbsp;
                <select class="form-control" ng-model="d.postListSelector">
                    <option value="deselected" disabled selected>By List</option>
                    <optgroup label="Current top posts">
                        <option value='["top","all"]' >HN Front Page</option>
                    </optgroup>
                    <optgroup label='Most Points'>
                        <option value='["points","all"]' >Points - All data </option>
                        <option value='["points",7]' >Points - Past 7 days </option>
                        <option value='["points",30]' >Points - Past 30 days </option>
                    </optgroup>
                    <optgroup label='Most Comments'>
                        <option value='["comments","all"]' >Comments - All data </option>
                        <option value='["comments",7]' >Comments - Past 7 days </option>
                        <option value='["comments",30]' >Comments - Past 30 days </option>
                    </optgroup>
                </select>
            </form>
        </div>

    </div>


    <h1>Post Comparison</h1>


    <table class="table table-striped table-bordered table-condensed">
        <thead>
            <tr>
                <th> ID <button class="btn btn-danger btn-xs" ng-click="clearAllIds()">Clear all</button> </th>
                <th> Title </th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat=" (key, rec) in dataOnly()">
                <td>{{ rec.id }} &nbsp; <span class="glyphicon glyphicon-minus-sign small text-danger" ng-click="removePostId(rec.id)"></span>
                <td><a href="{{ rec.href }}" target="_blank" >{{ rec.title }} </a></td>
            </tr>

        </tbody>
    </table>


    <br>

    <div class="panel panel-default ">
        <div class="panel-heading">
            <h3 class="panel-title">
                <div>Chart Controls</div>
            </h3>
        </div>
        <div class="panel-body]">
           <form class="form-inline" role="form">
               <div class="form-group">
                   <label>&nbsp; Metric: &nbsp;</label>
                   <!-- TODO - Shouldn't need nbsp, and vert alignment is wrong-->
                   <label class="radio-inline">
                       <input type="radio" value="rank" ng-model="d.metric"> Rank
                   </label>
                   <label class="radio-inline">
                       <input type="radio" value="points" ng-model="d.metric"> Points
                   </label>
                   <label class="radio-inline">
                       <input type="radio" value="comments" ng-model="d.metric"> Comments
                   </label>
               </div>
               <div class="form-group" ng-show="d.metric == 'rank'">
                   <label>&nbsp;&nbsp; Rank Range: &nbsp;</label>
                   <label class="radio-inline">
                       <input type="radio" value="30" ng-model="d.rankRange"> 1-30
                   </label>
                   <label class="radio-inline">
                       <input type="radio" value="60" ng-model="d.rankRange"> 1-60
                   </label>
               </div>
           </form>
        </div>

    </div>

    <br>

    <h1>{{ d.metric | titleCase}}</h1>
    <multi-post-chart id="chart1" chartsize="medChartSize" data="d.data" datatimestamp="d.data.timestamp"
                      metric="d.metric" rankRange="d.rankRange" needsUpdate="d.chartNeedsUpdate"></multi-post-chart>


    <div ng-controller="hnsearchCtrl">

        <div id='hnsearchModal' class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
            <!-- This partial works with the selectModal directive -->

            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="btn btn-primary closeButton pull-right" data-dismiss="modal" ng-click="resetHnSearch()">Done</button>
                        <h1 class='modal-title'>Search Hacker News</h1>


                    </div>
                    <div class="modal-body">
                        <ng-include src="'views/templates/hnsearch_searchbox.html'"></ng-include>
                        <ng-include src="'views/templates/hnsearch_hit_template.html'"></ng-include>

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary closeButton" data-dismiss="modal" ng-click="resetHnSearch()">Done</button>
                    </div>
                </div>
            </div>
        </div>


    <!--</div>-->

</div>