<div ng-controller="postCtrl">


    <div class="panel panel-default ">
        <div class="panel-heading">
            <h3 class="panel-title">
                <div>Select Post</div>
            </h3>
        </div>
        <div class="panel-body]">
           <form class="form-inline" role="form">
                <label>Enter id &nbsp;</label>

                <div class="form-group">
                    <input id="postid" type="text" class="form-control" placeholder="Enter post id"
                           ng-model="d.postid">
                </div>
                &nbsp; OR &nbsp;
                <button class="btn btn-primary btn-sm" data-toggle="modal" data-target="#hnsearchModal">
                    Search for Post
                </button>
                &nbsp; OR &nbsp;
                <button class="btn btn-primary btn-sm" data-toggle="modal" data-target="">
                    TBD - Pick by list
                </button>
            </form>
        </div>

    </div>


    <h1>Post History </h1>


    <h3><a href="{{ d.data.href }}" target="_blank">{{d.data.title}} </a><span
            style="font-size:small; font-weight:normal;"> ({{ d.data.domain }})</span></h3>
    {{numPoints()}} points
    by <a href="https://news.ycombinator.com/user?id={{ d.data.author }}" target="_blank">{{ d.data.author }} </a>
    | {{ d.data.created_d | date: 'short' }}
    | <a href="https://news.ycombinator.com/item?id={{ d.data.id }}" target="_blank">{{numComments()}} Comments </a>
    <br>

    <post-chart id="chart1" chartsize="medChartSize" data="d.data" datatimestamp="d.data.timestamp"></post-chart>


    <div ng-controller="hnsearchCtrl">

        <div id='hnsearchModal' class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
            <!-- This partial works with the selectModal directive -->

            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h1 class='modal-title'>Search Hacker News</h1>
                    </div>
                    <div class="modal-body">

                        <ng-include src="'views/templates/hnsearch_searchbox.html'"></ng-include>
                        <ng-include src="'views/templates/hnsearch_hit_template.html'"></ng-include>

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default closeButton" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>


    </div>

</div>