<div ng-controller="snapsPerDayCtrl">
    <h1>Number of snapshots per day</h1>
    <p>A 'snapshot' is an individual data point. So, as single page has 30 snapshots every time we do a screen scrape
        (which is approximately every 5 minutes). We would expect to see about 17,280 snapshots a day (2 pages * every 5
        minutes for 24 horus) if all goes well. A bar with significantly fewer data points means all did not go well -
        our script failed, our server went down, we were working on the script, or HackerNews was down.
    </p>
    <p>
        10/8/14 - 12/6/14 - I had apparently turned off the scraper while doing server maintenance. Woops!
    </p>
    <p>
        12/6 and on - This uses the new HackerNews API (instead of screen scraping). There is currently a limitation in
        the API such that I can not (easily) get the number of comments. This will be rectified in the next version of the API.
    </p>

    <spd-chart id="chart1"  chartsize="medChartSize" data="d.data" datatimestamp="d.dataTs"></spd-chart>

</div>
        